# BD MySQL
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# Servidor
PORT=
NODE_ENV=

# JWT
JWT_SECRET=
JWT_EXPIRE=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRE=

# CORS
CORS_ORIGIN=

# Rate Limiting
RATE_LIMIT_WINDOW=
RATE_LIMIT_MAX=