# BD MySQL (En AWS apuntar al Endpoint de RDS)
DB_HOST=tuservidor-rds.xxxxxxxx.us-east-1.rds.amazonaws.com
DB_USER=admin
DB_PASSWORD=
DB_NAME=scrum_db
DB_PORT=3306
# Servidor
PORT=
NODE_ENV=

# JWT
JWT_SECRET=
JWT_EXPIRE=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRE=

# CORS
CORS_ORIGIN=http://localhost:5173,http://127.0.0.1:5173

# Rate Limiting
RATE_LIMIT_WINDOW=
RATE_LIMIT_MAX=